extends ../base

block content
  div
    p=video.description
    small=video.createdAt
    ul
      p hashtags
      each hashtag in video.hashtags
        li=hashtag
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) delete Video &rarr;